.hero-container{
display: flex;
gap: 40px;
align-items: center;
background-color: lightgreen;
border-radius: 25px;
padding: 25px;
font-size: 1.25em;
}
.hero-container button{
    background-color: aqua;
    padding: 10px 30px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer 
}
.hero-container img{
width: 100%;
height: 300px;
border-radius: 25px;
}
body{
    max-width: 1140px;
    background-color: brown;
    margin: 0 auto;
}